<div class="middle-menu">
  <div class="container">
    <div class="content">
      <ul class="items">
        <li class="item">
          <div class="item-container">
            <i class="fas fa-puzzle-piece"></i>
            <div class="item-name">
              <span class="type">Sector</span>
              <span class="name">Sports</span>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="item-container">
            <i class="fas fa-futbol"></i>
            <div class="item-name">
              <span class="type">Sport Type</span>
              <span class="name">Bycicles</span>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="item-container">
            <i class="fas fa-bicycle"></i>
            <div class="item-name">
              <span class="type">Mode</span>
              <span class="name">Mountain Cross</span>
            </div>
          </div>
        </li>
      </ul>
      <ul class="item-responsability">
        <li class="item">
          <div class="item-container">
            <i class="fas fa-recycle"></i>
            <div class="item-name">
              <span class="type">Responsability</span>
              <span class="name">Be Green!</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
