<div class="help-box ">
  <div class="container">
    <ngb-accordion>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span class="title">Help</span>
          <span class="toggle toggle-close">
            close <i class="fas fa-long-arrow-alt-up"></i>
          </span>
          <span class="toggle toggle-open">
            open <i class="fas fa-long-arrow-alt-down"></i>
          </span>
        </ng-template>
        <ng-template ngbPanelContent>
          <i class="far fa-life-ring"></i>
          <span>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias blanditiis dolore dolores, ducimus expedita
            fuga impedit ipsa iste minus nesciunt quibusdam quidem quisquam reprehenderit sed vero vitae. Exercitationem,
            similique! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias aperiam dicta doloribus eius enim
            error ex ipsa ipsam magnam neque quaerat quia repudiandae, similique suscipit unde voluptatum. Amet, tempora!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, ad asperiores aut autem commodi cum eum
          </span>
        </ng-template>
      </ngb-panel>

    </ngb-accordion>
  </div>
</div>
