<div class="user-registration">
  <div class="container">
    <h2>User registration</h2>
    <form #registerForm="ngForm" novalidate>
      <div class="row">
        <div class="col-sm-5">

          <div class="form-group" [class.has-error]="usernameInputRef.errors && formSubmitted">
            <label>Full name</label>
            <input
              type="text"
              name="username"
              class="form-control"
              [(ngModel)]="formData.username"
              [class.has-error]="usernameInputRef.errors && formSubmitted"
              [pattern]="inputVariables.username.pattern"
              required
              #usernameInputRef="ngModel"
              (focus)="inputVariables.username.focused = true"
              (blur)="inputVariables.username.focused = false"
            >
            <div class="input-help-text">
              <div class="instruction-text"
                   *ngIf="inputVariables.username.focused"
              >
                {{inputVariables.username.instruction}}
              </div>

              <div class="error-message" *ngIf="usernameInputRef.errors && formSubmitted">
                <div *ngIf="usernameInputRef.errors.required">
                  Required
                </div>
                <div *ngIf="usernameInputRef.errors.pattern">
                  {{ getErrorMessage('username') }}
                </div>
              </div>
            </div>
          </div>

          <div class="form-group" [class.has-error]="emailInputRef.errors && formSubmitted">
            <label>E-mail</label>
            <input
              type="email"
              name="email"
              class="form-control"
              [(ngModel)]="formData.email"
              [class.has-error]="emailInputRef.errors && formSubmitted"
              required
              [pattern]="inputVariables.email.pattern"
              #emailInputRef="ngModel"
              (focus)="inputVariables.email.focused = true"
              (blur)="inputVariables.email.focused = false"
            >

            <div class="input-help-text">
              <div class="instruction-text"
                   *ngIf="inputVariables.email.focused"
              >
                {{inputVariables.email.instruction}}
              </div>

              <div class="error-message" *ngIf="emailInputRef.errors && formSubmitted">
                <div *ngIf="emailInputRef.errors.required">
                  Required
                </div>
                <div *ngIf="emailInputRef.errors.pattern">
                  {{ getErrorMessage('email') }}
                </div>
                <div *ngIf="emailInputRef.errors.notAvailable">
                  E-mail is not available
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>City</label>
            <input
              type="text"
              name="city"
              class="form-control"
              [(ngModel)]="formData.city"
              [class.has-error]="cityInputRef.errors && formSubmitted"
              #cityInputRef="ngModel"
              [pattern]="inputVariables.city.pattern"
              (focus)="inputVariables.city.focused = true"
              (blur)="inputVariables.city.focused = false"
            >

            <div class="input-help-text">
              <div class="instruction-text"
                   *ngIf="inputVariables.city.focused"
              >
                {{inputVariables.city.instruction}}
              </div>

              <div class="error-message" *ngIf="cityInputRef.errors && formSubmitted">
                <div *ngIf="cityInputRef.errors.pattern">
                  {{ getErrorMessage('email') }}
                </div>
                <div *ngIf="cityInputRef.errors.notAvailable">
                  City is not available
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 offset-sm-1">
          <div class="form-group" [class.has-error]="rideRadioRef.errors && formSubmitted">
            <label class="form-group-title">Ride in group?</label>
            <div class="form-check form-check-inline">
              <label for="ride-always-radio" class="form-check-label">
                Always
                <input
                  id="ride-always-radio"
                  class="form-check-input"
                  type="radio"
                  name="ride"
                  [(ngModel)]="formData.ride"
                  value="Always"
                  required
                  #rideRadioRef="ngModel"
                >
                <span class="radio"></span>
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label for="ride-sometimes-radio" class="form-check-label">
                Sometimes
                <input
                  id="ride-sometimes-radio"
                  class="form-check-input"
                  type="radio"
                  name="ride"
                  [(ngModel)]="formData.ride"
                  value="Sometimes"
                  required
                  #rideRadioRef="ngModel"
                >
                <span class="radio"></span>
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label for="ride-never-radio" class="form-check-label">
                Never
                <input
                  id="ride-never-radio"
                  class="form-check-input"
                  type="radio"
                  name="ride"
                  [(ngModel)]="formData.ride"
                  value="Never"
                  required
                  #rideRadioRef="ngModel"
                >
                <span class="radio"></span>
              </label>
            </div>

          </div>

          <div class="form-group days-of-week-wrapper" [class.has-error]="!validDaysOfWeekFields()">
            <label class="form-group-title">Days of the week</label>
            <div *ngFor="let dayOfWeek of daysOfWeekLabels" class="form-check form-check-inline">
              <app-day-checkbox [dayOfWeek]="dayOfWeek"
                                [checked]="isCheckDayOfWeek(dayOfWeek)"
                                (check)="onCheckDayOfWeek($event)"
              ></app-day-checkbox>
            </div>
          </div>
          <div class="form-group text-right submit">
            <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
            <button type="submit" class="btn btn-success" (click)="submit()">Save</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
